$bkgd-color: white; //background-color

$text-color: black; //text-color

$link-color: black; //link-color
$link-hover-color: grey; //link-hover-color

$menuWord-size: 30px;
$menuIcon-size: 40px;

$footer-font-size: 18px;

$big-font-family: Impact, Charcoal, sans-serif;
$small-font-family: "Comic Sans MS", cursive, sans-serif;
