@import "../constants/constants.scss";

.about {
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about div{
  height: 100%;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about div p{
  text-align: left;
  font-size: 16px;
  font-family: $small-font-family;
  color:$text-color;
}
