@import "../constants/constants.scss";

#footer{
  height: $footer-font-size + 15px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.footerItem{
  height: $footer-font-size + 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$text-color;
  font-family: $big-font-family;
  font-size: $footer-font-size;
}

@media only screen and (max-width: 1080px) {
  #footer{
    height: 3 * $footer-font-size + 30px;
    flex-direction: column;
  }
}
