@import "../constants/constants.scss";

#profile {

}

#sign_up {

}

#sign_in {

}

#password_forget{

}

.hack {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
