@import "../constants/constants.scss";

#login_status{
  display: flex;
  justify-content: center;
}

#menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menuContainer{
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menuItem{
  height: $menuIcon-size + 10px;
  flex-basis:20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: $big-font-family;
  padding-top: 5px;
}

.menuItemWord{
  text-decoration: none;
  font-size: $menuWord-size;
  color:$link-color;
}

.menuItemWord:hover{
  color:$link-hover-color;
}

.menuIcon{
  font-size: $menuIcon-size;
  padding-bottom: 5px;
}

.activeC1{
  background-color: black;
  border: 2px solid black;
  border-radius: 25px;
}

.activeC1 span{
  color: white;
}

.activeC2{
  background-color: black;
  border: 2px solid black;
  border-radius: 25px;
}

.activeC2 span{
  color: white;
}

@media only screen and (max-width: 800px) {
  #menuContainer{
    flex-direction: column;
  }
}
