@import "../constants/constants.scss";

#topic {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#topic div {
  margin-top: 50px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.specifixImage {
  width: 1024px;
}

@media only screen and (max-width: 1080px) {
  .specifixImage {
    width: 512px;
  }
}

@media only screen and (max-width: 530px) {
  .specifixImage {
    width: 256px;
  }
}
